.login-btn {
  color: #0a2653;
  width: 140px;
  height: 50px;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  right: 30px;
  background-color: #d6e5f2;
  font-weight: bold;
}
.rectangle-size {
  width: 26%;
  position: relative;
  top: 10px;
  transform: translate(0%, 5%);
}
.text-on-image {
  position: absolute;
  top: 15%;
  left: 19%;
  transform: translate(0%, 50%);
}

.highlight {
  position: relative;
  bottom: 100px;
  left: 90px;
  width: 160px;
  height: 100px;
  background: #83bbee;
}
.company-logo {
  position: absolute;
  top: 20px;
  left: 90px;
  height: 50px;
  width: 150px;
}

.pcPhone-comd5 {
  position: absolute;
  top: 25%;
  right: 5%;
  height: 65%;
  width: 40%;
}

.start-now-btn {
  background: linear-gradient(
    98.83deg,
    #00b2ff 11.6%,
    #106fb3 56.89%,
    #194886 83.7%
  );
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 42px;
  letter-spacing: 0.015em;
  display: justify;
  border-radius: 20px;
  margin: 40px 270px 10px;
  width: 200px;
  height: 60px;
  cursor: pointer;
}

.hero-container {
  background: url("../../image/originalbg2.png") center center/cover no-repeat;

  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container > .Header-intro {
  margin-top: 30px;
  margin-left: 90px;
  font-family: Readex Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  line-height: 80px;
  letter-spacing: 0.06em;

  color: #275187;
}

.center-description {
  margin-top: 22px;
  margin-left: 90px;
  font-family: Glory;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 36px;
  letter-spacing: 0.015em;

  color: #062650;
}

@media only screen and (max-width: 1200px) {
  .pcPhone-comd5 {
    position: absolute;
    top: 30%;
    right: 3%;
    height: 50%;
    width: 33%;
  }

  .hero-container {
    background: url("../../image/originalbg2.png") center center/cover no-repeat;

    height: 125vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    white-space: nowrap;
  }

  .hero-container {
    background: url("../../image/originalbg2.png") center center/cover no-repeat;

    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    white-space: nowrap;
  }
  .hero-container > h1 {
    margin-top: 30px;
    margin-left: 90px;
    font-family: Readex Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 49px;
    line-height: 80px;
    letter-spacing: 0.06em;

    color: #275187;
  }

  .text-on-image {
    position: absolute;
    top: 173px;
    left: 22%;
    transform: translate(0%, 50%);
  }

  .rectangle-size {
    width: 28%;
    position: relative;
    top: 10px;
    transform: translate(0%, 5%);
  }

  .center-description {
    margin-top: 22px;
    margin-left: 90px;
    font-family: Glory;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.015em;

    color: #062650;
  }
}

@media screen and (max-width: 970px) {
  .pcPhone-comd5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 15%;
    left: 5%;
    height: 40%;
    width: 45%;
    white-space: nowrap;
  }
  .hero-container {
    background: url("../../image/originalbg2.png") center center/cover no-repeat;

    height: 125vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    white-space: nowrap;
  }
  .hero-container > .Header-intro {
    font-family: Readex Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.06em;
    white-space: nowrap;
    color: #275187;
    position: absolute;
    margin-top: 10px;
    margin-right: 25%;
    top: 62%;
    left: 17%;
    display: block;
  }

  .text-on-image {
    position: relative;
    top: -135px;
    left: 28%;
    transform: translate(0%, 50%);
    white-space: nowrap;
  }

  .rectangle-size {
    width: 220px;
    height: 60px;

    position: relative;
    top: -68px;
    left: 27%;
    transform: translate(0%, 5%);
    display: block;
  }

  .text-first {
    position: relative;
    top: -160px;
    left: 330px;
  }

  .text-second {
    position: relative;
    top: -160px;
    left: 5px;
  }

  .text-third {
    position: relative;
    top: -160px;
    left: 5px;
  }

  .center-description {
    display: flex;
    justify-content: center;
    position: relative;
    top: 280px;
    right: 40px;
    font-size: 17px;
    line-height: 30px;
  }

  .hero-container > .start-now-btn {
    background: linear-gradient(
      98.83deg,
      #00b2ff 11.6%,
      #106fb3 56.89%,
      #194886 83.7%
    );
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    width: 160px;
    height: 60px;
    cursor: pointer;
    position: relative;
    top: 28%;
  }
}

@media screen and (max-width: 900px) {
  .hero-container {
    background: url("../../image/originalbg2.png") center center/cover no-repeat;

    height: 125vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    white-space: nowrap;
  }
  .hero-container > .Header-intro {
    font-family: Readex Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.06em;
    white-space: nowrap;
    color: #275187;
    position: absolute;
    margin-top: 10px;
    margin-right: 25%;
    top: 62%;
    left: 5%;
    display: block;
  }

  .text-on-image {
    position: relative;
    top: -135px;
    left: 28%;
    transform: translate(0%, 50%);
    white-space: nowrap;
  }

  .rectangle-size {
    width: 220px;
    height: 60px;

    position: relative;
    top: -68px;
    left: 27%;
    transform: translate(0%, 5%);
    display: block;
  }

  .text-first {
    position: relative;
    top: -160px;
    left: 330px;
  }

  .text-second {
    position: relative;
    top: -160px;
    left: 5px;
  }

  .text-third {
    position: relative;
    top: -160px;
    left: 5px;
  }
}

@media screen and (max-width: 800px) {
  .hero-container {
    background: url("../../image/originalbg2.png") center center/cover no-repeat;

    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    white-space: nowrap;
  }
  .hero-container > .Header-intro {
    font-family: Readex Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.06em;
    white-space: nowrap;
    color: #275187;
    position: absolute;
    margin-top: 10px;
    margin-right: 25%;
    top: 60%;
    left: 3%;
    display: block;
  }

  .text-on-image {
    position: relative;
    top: -135px;
    left: 28%;
    transform: translate(0%, 50%);
    white-space: nowrap;
  }

  .rectangle-size {
    width: 220px;
    height: 60px;

    position: relative;
    top: -68px;
    left: 27%;
    transform: translate(0%, 5%);
    display: block;
  }

  .text-first {
    position: relative;
    top: -160px;
    left: 330px;
  }

  .text-second {
    position: relative;
    top: -160px;
    left: 5px;
  }

  .text-third {
    position: relative;
    top: -160px;
    left: 5px;
  }
}

@media only screen and (max-width: 700px) {
}
@media only screen and (max-width: 600px) {
}
