.footer-container {
  background-color: #f37070;
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
}

.footer-link-wrapper {
  display: flex;
  justify-content: space-around;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer-link-items h2 {
  margin-bottom: 16px;
}

.footer-link-items > h2 {
  color: #fff;
}
